@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

html {
    font-size: 16px;
    overflow: hidden;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.05em;
    line-height: 1.4;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

img {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
    font-size: 1empx;
}

td {
    padding-right: 1em;
    padding-bottom: 0.5em;
    vertical-align: top;
}

hr {
    width: 30%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

section {
    width: 960px;
    margin: auto;
    margin-bottom: 8em;
    scroll-snap-align: start;
}

section.intro {
    text-align: center;
}

section.intro img {
    text-align: center;
    width: 18em;
}

.menu {
    font-size: 1.5em;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.menu li {
    margin-bottom: 0.5em;
}

.myname {
    font-size: 2em;
}

.whoami {
    font-weight: 300;
    font-size: 1.5em;
    color: #888a85;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

span.position {
    font-weight: bold;
}

span.degree {
    font-weight: bold;
}

ul.projects {
    padding-left: 0;
}

ul.projects li {
    font-size: 1.2em;
    list-style: none;
    margin-bottom: 0.5em;
}

ul.projects li:hover {
    list-style-type: square;
}

ul.projects li a {
    text-decoration: none;
    color: black;
}

section.project h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

section.project img {
    position: relative;
    float: right;
    margin: 1em;
}

a.github {
    text-decoration: none;
    font-size: 1em;
    color:darkblue;
}

section.project h5 {
    font-size: 1em;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

table.role th {
    text-align: left;
}

table.role td {
    width: 12em;
}

table.role td span {
    display: inline-block;
    text-align: center;
    background-color: darkgrey;
    color: white;
}

span.pct100 { width: 10em; }
span.pct90  { width: 9em; }
span.pct80  { width: 8em; }
span.pct50  { width: 5em; }
span.pct20  { width:  2em; }
span.pct10  { width:  1em; }

.back-to-top-button-wrapper {
    display: none;
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 99;
}

table.patents {
    font-size: 1em;
}

table.patents th {
    text-align: left;
}

code {
    display: block;
    font-family: monospace;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.skills {
    padding-left: 0;
    margin-bottom: 1em;
}

ul.skills li {
    font-size: 1em;
    margin-bottom: 0.5em;
}

ul.interests {
    padding-left: 0;
    margin-bottom: 0.5em;
}

ul.interests li {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.circle-button {
    display: flex;
    width: 3em;
    height: 3em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eaaa00;
}

.contact {
    margin-right: 2em;
    display: inline-flex;
}

.linkedin {
    background-color:lightgrey;
}

.email {
    height: 2em;
    padding-top: 0.5em;
    vertical-align: middle;
    text-decoration: none;
    color: darkblue;
    font-size: 1em;
}

@media only screen and (max-device-width: 480px) {
    html { font-size: 10px; }
    body { margin: 0; }
    section { width: auto; }
}